* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: .2s linear;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #151720;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    padding: 8rem 1.5rem;
}

.heading {
    font-size: 2rem;
    text-transform: uppercase;
}

/*---- scroll ----*/
.home,
.about,
.skills,
.projects {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: opacity 2s ease;
}

/*---- menu ----*/
header {
    width: 100%;
    padding: .5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar .hamburger {
    display: block;

    z-index: 999;
    position: relative;

    font-size: 3.5rem;
    color: #151720;
}

.navbar .menu {
    height: 100vh;
    margin: 0;
    width: 100%;
    padding: 6rem 1rem;

    flex-direction: column;
    align-items: flex-start;
    text-align: center;

    position: fixed;
    top: 0;
    left: -100%;

    border-right: 15px double #151720;
    list-style: none;
    transition: .5s ease;

    background-color: #fff;
}

.navbar .menu li {
    padding: 1rem 4rem;

    border-top: 1px solid #151720;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .menu li:last-child {
    border-bottom: 1px solid #151720;
}

.navbar .menu li a:hover {
    color: #f8930f;
}

.navbar .menu li a {
    display: block;

    color: #151720;
    text-decoration: none;
}

.navbar .menu.active {
    left: 0
}

/*----home----*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.home .img-wrapper img {
    width: 300px;
    padding: .2rem;

    border: 4px solid #f8930f;
    border-radius: 50%;
}

.home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4rem;
}

.home .content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1.5rem;
}

.home .content .text .heading {
    font-size: 3rem;
}

.home .content .text p:nth-child(2) {
    margin-bottom: 4rem;

    font-size: 2rem;
    color: #f8930f;
    font-weight: bold;
}

.home .content .text span {
    padding: 0 .7rem;

    background: #f8930f;
    color: #151720;
}

.home .content .button {
    display: flex;

    gap: 2rem;
}

.home .content .button a button {
    padding: 1.5rem;

    border-radius: 5px;
}

.home .content .button a button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.home .content .button a #linkedin-btn {
    background-color: #f8930f;
    border: 2px solid #f8930f;
}

.home .content .button a #github-btn {
    border: 2px solid #f8930f;
    background: #fff;
}


/*---- about ----*/
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    position: relative;
    z-index: 1;

    font-size: 1.5rem;
}

.about .heading {
    text-align: center;
}

.about .heading span {
    text-decoration: underline 6px #f8930f;
}

.about .resume {
    text-align: justify;
}

.about .resume span {
    font-weight: bold;
    color: #f8930f;
}

.about .personal-info h3 {
    text-align: center;
}

.about .personal-info ul li {
    margin: 1rem 0;
}

.about .personal-info ul li:last-child {
    word-break: break-all;
}

.about .personal-info ul li label {
    font-weight: bold;
}

.about .personal-info ul li a {
    color: #151720;
    font-weight: bold;
    text-decoration: underline;
}

.about a button {
    padding-left: 1rem;
    display: flex;
    align-items: center;

    gap: 2.5rem;

    border: 1px solid #f8930f;
    font-weight: bold;
    color: #f8930f;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.about a button i {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #f8930f;
    border-radius: 50px;
}

.about a button:hover {
    background-color: #f8930f;
    color: #E8D9C5;
    transition: .2s ease;
}

/*---- skills ----*/
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10rem;
}

.skills .content {
    width: 300px;
    height: 450px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.skills .content .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: bold;
    color: #151720;
    background: #f8930f;
    font-size: 2rem;
    border-radius: 81% 19% 71% 29% / 34% 67% 33% 66%;
}

.skills .content .skill i {
    font-size: 6rem;
    color: #151720;
}

.skills .content .skill:hover {
    border-radius: 34% 66% 32% 68% / 69% 32% 68% 31%;
}

/*---- projects ----*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.projects .heading {
    padding: 1rem 6rem;

    background: #151720;
    color: #fff;
    text-decoration: underline
}

.projects .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 2rem;
    margin: 0 auto;
}

.projects .box-container .box {
    padding: 1rem;

    border-radius: 5px;
    background: rgb(248, 147, 15);
    background: linear-gradient(180deg, rgba(248, 147, 15, 1) 0%, rgba(255, 255, 255, 1) 18%, rgba(255, 253, 251, 1) 60%, rgba(255, 252, 248, 1) 73%, rgba(248, 147, 15, 1) 99%);
}

.projects .box-container .box .thumbnail {
    display: flex;
}

.projects .box-container .box .thumbnail img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
}

.projects .box-container .box .content {
    max-width: 350px;
    padding: 1.5rem;

    align-self: center;
    text-align: center;
    justify-content: center;

    font-size: 1.5rem;
}

.projects .box-container .box .content .project-heading {
    margin-bottom: 2rem;

    font-size: 2rem;
    color: #151720;
}

.projects .box-container .box .content .project-heading span a {
    color: #00a2ff;
    text-decoration: underline;
}

/*---- footer ----*/
footer {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    background: #151720;
    color: #f8930f;
    font-size: 1.5rem;
}

footer .credits {
    padding: 0 2rem;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

footer .credits a {
    color: #E8D9C5;
    font-weight: bold;
}

/*media queries*/
@media screen and (min-width: 766px) {

    .container {
        width: 80%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .home .img-wrapper img {
        width: 350px;
    }

    .home .content .text .heading {
        font-size: 4rem;
    }

    .home .content .text p:nth-child(2) {
        font-size: 2.5rem;
    }

    .home .content .button a button i {
        font-size: 2rem;
    }

    .about .personal-info ul {
        margin-top: 2rem;

        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 4rem;
    }

    .about .personal-info ul li {
        padding: 1.5rem;

        border-bottom: 4px solid #f8930f;
        border-left: 4px solid #f8930f;
    }

    .skills .content {
        height: 350px;
        min-width: 550px;

        grid-template-columns: repeat(3, 1fr);
    }

    .skills .content .skill i {
        font-size: 7rem;
    }

    .projects .box-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 991px) {

    .navbar {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .hamburger {
        display: none;
    }

    .navbar .menu {
        height: 0;
        padding: 2rem 1rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        left: 0;

        list-style: none;
        border: none;
    }

    .navbar .menu li {
        margin-left: 10px;

        font-size: 2rem;
        border: none;
    }

    .navbar .menu li:last-child {
        border-bottom: none;
    }

    .navbar .menu li a {
        padding: 10px 15px;

        text-decoration: none;
        transition: .5s ease;
    }

    .home {
        flex-direction: row-reverse;
        gap: 4rem;

        position: relative;
    }

    .home .img-wrapper {
        max-width: 450px;
        height: 500px;

        background-image: url(../images/desktop-portrait.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        z-index: 1;
        position: relative;
        left: 40px;

        border-radius: 5px 5px 100px 100px;
        border: 4px solid #f8930f;
    }

    .home .img-wrapper img {
        visibility: hidden;
    }

    .home .content {
        align-items: flex-start;
        gap: 6rem;
    }

    .home .content .text {
        align-items: flex-start;
        text-align: left;
    }

    .about .resume {
        width: 80%;
    }

    .skills .content {
        width: 650px;
        height: 450px;
    }

    .skills .content .skill i {
        font-size: 8rem;
    }

    .projects .box-container {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6rem;
    }

    .projects .box-container .box {
        margin: 0 auto;
        padding-left: 1rem;
        padding: 1rem;

        display: flex;
        gap: 4rem;

        border-radius: 5px;
        border-left: 4px solid #f8930f;
        background: #fff;
    }

    .projects .box-container .box:hover {
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 56%, rgba(248, 147, 15, 1) 100%);
    }

    .projects .box-container .box:nth-child(odd) {
        grid-column: 2/5;
    }

    .projects .box-container .box:nth-child(even) {
        grid-column: 1/4;
    }

    .projects .box-container .box .thumbnail img {
        width: 250px;

        border-radius: 5px;
    }

    .projects .box-container .box .content {
        gap: 4rem;
        text-align: justify;
    }

    .projects .box-container .box .content .project-heading {
        color: rgb(21, 23, 32);
    }
}

@media screen and (min-width: 1199px) {
    .heading {
        font-size: 3.5rem;
    }

    .about {
        font-size: 2rem;
    }

    .about a button {
        font-size: 2rem;
    }

    .about a button i {
        padding: 3.5rem;
        font-size: 3.5rem;
    }

    .home .content .text .heading {
        font-size: 6rem;
    }

    .home .content .button a button {
        padding: 2rem;
    }

    .home .content .button a button i {
        font-size: 3rem;
    }

    .home .content .text {
        max-width: 650px;
        font-size: 2rem;
    }

    .home .content .text p:nth-child(2) {
        font-size: 3rem;
    }

    .projects .box-container .box .content {
        font-size: 2rem;
    }

    .projects .box-container .box .content .project-heading {
        font-size: 2.3rem;
    }
}